* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
body {
  background-color: #090909;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 10%;
  background-image: linear-gradient(180deg, #171717, #090909);
  top: 0;
  left: 0;
  right: 0;
}

li,
a,
button,
p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
}

.logo {
  height: 90px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
  transition: 0.3s ease 0s;
}

li > a {
  list-style-type: none;
  color: #fff;
}

.header button {
  cursor: pointer;
  padding: 18px 30px;
  border-radius: 15px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  border-style: solid;
  transition: 0.3s ease 0s;
}

.header button:hover {
  color: #101010;
  background-color: #fff;
}

.navlink li {
  display: inline-block;
  padding: 0px 45px;
}

.navlink li a {
  transition: all 0.3s ease 0s;
}

.navlink li a:hover {
  color: #ff8fab;
  transition: all 0.3s ease 0s;
}

.about {
  margin: 120px 0px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-color: red;
}

.anhQuynh img {
  object-fit: cover;
  height: 540px;
  width: 450px;
  margin-left: 45px;
  border-radius: 30px;
  object-position: top;
}

.text,
.text a {
  color: #fff;
  width: 50%;
  margin-bottom: 90px;
}

.text .name > a {
  font-weight: 800;
  font-size: 90px;
  cursor: pointer;
}

.name {
  margin-bottom: 60px;
}

.name:hover,
.text a:hover {
  color: #ff8fab;
  transition: all 0.3s ease 0s;
}

.text .aboutme {
  font-weight: 400;
  font-size: 30px;
}

.dsc {
  height: 1050px;
  background-color: #fff;
  padding-top: 120px;
}

.dsc .text2 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text2 .intro {
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 7.5px;
}

.text2 .note1 {
  font-style: italic;
  font-weight: 400;
}

.gallery {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-bottom: 150px;
}

.gallery .baihat {
  display: inline-block;
  width: 330px;
  text-align: center;
}

.gallery img {
  object-fit: cover;
  height: 350px;
  cursor: pointer;
}

.gallery img:hover {
  box-shadow: 7.5px 15px 12px #888888;
}

.gallery .muc {
  display: block;
  padding-top: 27px;
}

.gallery .songname {
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 10px;
}

.gallery .artist {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}

.social {
  background-color: #000;
  height: 825px;
}

.social .text {
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  text-align: center;
}

.social .these {
  font-weight: 800;
}

.social .title {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 22.5px;
}

.social .desc {
  font-size: 30px;
}

.social .logo-social {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  gap: 125px;
}

.social .logo-social a {
  height: 150px;
  width: 150px;
  transform: scale(1.5);
  fill: #fff;
  transition: fill 0.2s ease;
  transition: transform 0.2s ease-in-out;
}

.social .ins:hover {
  fill: #e1306c;
  filter: drop-shadow(0 0 30px rgb(230, 1, 62));
  transform: scale(1.8);
}

.social .fb:hover {
  fill: #1877f2;
  filter: drop-shadow(0 0 7.5px #0033fe);
  transform: scale(1.8);
}

.social .sc:hover {
  fill: #ff7700;
  filter: drop-shadow(0 0 7.5px #df6800);
  transform: scale(1.8);
}

.social .yt:hover {
  fill: #ff0000;
  filter: drop-shadow(0 0 7.5px #e50000);
  transform: scale(1.8);
}

.social .spt:hover {
  fill: #22ce5e;
  filter: drop-shadow(0 0 7.5px #1db954);
  transform: scale(1.8);
}

.footer {
  background-color: #fff;
  height: 75px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer p {
  text-align: center;
  line-height: 75px;
  display: inline-block;
}

.footer button {
  padding: 0px 30px;
  height: 45px;
  vertical-align: middle;
  margin-top: 15px;
  border-radius: 7.5px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 24px;
}

.footer button:hover {
  background-color: #000;
  color: #fff;
  padding-left: 60px;
  padding-right: 60px;
}
